<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="apple-mobile-web-app-capable"content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta property="og:url" content="https://vanilla-grid.github.io/">
	<title>Vanillagrid</title>
	<meta name="application-name" content="Vanillagrid">
	<meta name="msapplication-tooltip" content="Vanillagrid">
	<meta id="meta_og_title" property="og:title" content="Vanillagrid(only vanilla JS)">
	<meta name="description" content="A simple Grid library using only Vanilla JS.">
	<meta property="og:description" content="A simple Grid library using only Vanilla JS.">
	<meta property="og:type" content="website">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
	<script src="Vanillagrid.min.1.0.0.js?v=20240628"></script>
	<script src="Consts.js?v=20240628"></script>
	<script src="Contents.js?v=20240628"></script>
	<script src="SampleDatas.js?v=20240628"></script>
	<script src="SampleGrids.js?v=20240628"></script>
	<script src="Component.js?v=20240628"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<style>
	*, ::before, ::after {
	    --tw-border-spacing-x: 0;
	    --tw-border-spacing-y: 0;
	    --tw-translate-x: 0;
	    --tw-translate-y: 0;
	    --tw-rotate: 0;
	    --tw-skew-x: 0;
	    --tw-skew-y: 0;
	    --tw-scale-x: 1;
	    --tw-scale-y: 1;
	    --tw-pan-x: ;
	    --tw-pan-y: ;
	    --tw-pinch-zoom: ;
	    --tw-scroll-snap-strictness: proximity;
	    --tw-ordinal: ;
	    --tw-slashed-zero: ;
	    --tw-numeric-figure: ;
	    --tw-numeric-spacing: ;
	    --tw-numeric-fraction: ;
	    --tw-ring-inset: ;
	    --tw-ring-offset-width: 0px;
	    --tw-ring-offset-color: #fff;
	    --tw-ring-color: rgb(59 130 246 / 0.5);
	    --tw-ring-offset-shadow: 0 0 #0000;
	    --tw-ring-shadow: 0 0 #0000;
	    --tw-shadow: 0 0 #0000;
	    --tw-shadow-colored: 0 0 #0000;
	    --tw-blur: ;
	    --tw-brightness: ;
	    --tw-contrast: ;
	    --tw-grayscale: ;
	    --tw-hue-rotate: ;
	    --tw-invert: ;
	    --tw-saturate: ;
	    --tw-sepia: ;
	    --tw-drop-shadow: ;
	    --tw-backdrop-blur: ;
	    --tw-backdrop-brightness: ;
	    --tw-backdrop-contrast: ;
	    --tw-backdrop-grayscale: ;
	    --tw-backdrop-hue-rotate: ;
	    --tw-backdrop-invert: ;
	    --tw-backdrop-opacity: ;
	    --tw-backdrop-saturate: ;
	    --tw-backdrop-sepia: ;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	html, body {
		max-width: 100%;
		overflow-x: hidden;
	    border-width: 0;
	}
	body {
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.2em;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	li {
		font-size: 14px;
		line-height: 1.5em;
	}
	@font-face {
		font-family: 'Noto Sans KR';
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	    color: #333;
	    background-color: #f4f4f4;
	}
	.dropdown>li.active>a, .dropdown>li.active>a:focus, .dropdown>li.active>a:hover {
	    color: #333;
	    background-color: #f4f4f4;
	}
	.nav .open>a {
		border: none;
	}
	.nav>li>a {
		font-size: 12px;
		z-index: 999;
	}
	.nav-stacked {
		position: fixed;
	}
	.search-input {
		min-width: 300px;
	}
	.search-box {
		position: fixed;
		z-index: 9999;
		bottom: 0;
		left: 0;
		width:100%;
		height: 350px;
		margin-top:2px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f9f9f9;
		opacity: 0.9;
		display: none;
	}
	.search-list-box {
		width: 92%;
		height: 80%;
		background-color: #fff;
		margin: 10px auto;
		padding: 10px 5px;
		font-size: 14px;
		overflow-y: auto;
		overflow-x: hidden;
		line-height: 28px;
	}
	.search-list {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		width: 95%;
	}
	.no-search-list {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	a {
		color: #333;
	}
	a:hover {
		color: #333;
		background-color: #f8f8f8;
	}
	input:focus {
		border-color: #ccc!important;
		outline: none!important;
		box-shadow: none!important;
	}
	table {
		overflow-wrap: break-word;
		table-layout: fixed;
	}
	th td {
		overflow:hidden;
		white-space : nowrap;
		text-overflow: ellipsis;
	}
	code {
		font-family: Consolas, "Courier New", monospace;
	}
	code:lang(ko) {
		font-family: 'Noto Sans KR';
	}
	.dot {
		display: inline-block;
		margin-right: 7px;
	}
	.grid-box, .explain-box {
		width: 70%;
		padding-left: 30px;
	}
	.margin-left {
		margin-left: 10px;
	}
	.margin-right {
		margin-right: 10px;
	}
	.padding-left {
		padding-left: 10px;
	}
	.padding-right {
		padding-right: 10px;
	}
	.padding-top {
		padding-top: 10px;
	}
	.full-width {
		width: 100%;
	}
	.bold-none {
		font-weight: 300;
	}
	.h3 {
		padding: 0 5px;
		font-size: 18px;
		line-height: 1.5em;
	}
	.h4 {
		padding: 0 5px;
		font-size: 16px;
		line-height: 1.5em;
	}
	.h5 {
		padding: 0 8px;
		font-size: 14px;
		line-height: 1.5em;
	}
	.h6 {
		padding: 0 8px;
		font-size: 13px;
		line-height: 1.5em;
	}
	.logo {
		font-family: 'Georgia';
		font-size: 36px;
		padding: 5px 0;
		cursor: pointer;
		margin: 10px 0 20px 0;
	}
	.highlight-search {
		background-color: yellow;
		font-weight: bold;
	}
	.highlight-content {
		background-color: yellow;
		font-weight: bold;
	}
	.gridDive01_data-value-button {
		overflow:hidden;
		white-space : nowrap;
		text-overflow: ellipsis;
	}
	@media (max-width: 4000px) {
		.grid-box, .explain-box {
			width: 95%;
		}
	}
	@media (max-width: 800px) {
		.explain-box {
			padding:0 15px;
			width: 100%;
		}
		.grid-box {
			padding:0;
			width: 100%;
		}
		.nav>li>a {
	    padding: 15px 10px!important;
 	    font-size:0.8em;
		}
	}
	</style>
</head>
<body>
	<div id="app">
		<app-header
		@on-location="onLocation"
		></app-header>
		<app-nav
		:current-view="currentView"
		:get-common-content="getCommonContent"
		@remove-highlight-content="removeHighlightContent"
		@scroll-anchor="scrollAnchor"
		@scroll-and-focus-grid="scrollAndFocusGrid"
		@change-view="changeView"
		@change-lang="changeLang"
		></app-nav>
		<app-body>
			<app-intro
			v-if="currentView === 'intro'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:change-sub="changeSub"
			:is-el-in-view="isElInView"
			:get-common-content="getCommonContent"
			:get-content-text="getContentText"
			:get-content-anchor="getContentAnchor"
			:get-content-code="getContentCode"
			:get-content-data="getContentData"
			:generate-u-u-i-d="generateUUID"
			></app-intro>
			<app-started
			v-if="currentView === 'started'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:change-sub="changeSub"
			:is-el-in-view="isElInView"
			:get-common-content="getCommonContent"
			:get-content-text="getContentText"
			:get-content-anchor="getContentAnchor"
			:get-content-code="getContentCode"
			:get-content-data="getContentData"
			:generate-u-u-i-d="generateUUID"
			></app-started>
			<app-dive
			v-if="currentView === 'dive'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:change-sub="changeSub"
			:is-el-in-view="isElInView"
			:get-common-content="getCommonContent"
			:get-content-text="getContentText"
			:get-content-anchor="getContentAnchor"
			:get-content-code="getContentCode"
			:get-content-data="getContentData"
			:generate-u-u-i-d="generateUUID"
			></app-dive>
			<app-api
			v-if="currentView === 'api'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:change-sub="changeSub"
			:is-el-in-view="isElInView"
			:get-common-content="getCommonContent"
			:get-content-text="getContentText"
			:get-content-anchor="getContentAnchor"
			:get-content-code="getContentCode"
			:get-content-data="getContentData"
			:generate-u-u-i-d="generateUUID"
			></app-api>
		</app-body>
		<app-footer></app-footer>
	</div>
	<script>
	const CONSTS = getConsts();
	const CONTENTS = getContents(CONSTS);
	const SAMPLE_DATAS = getSampleDatas(CONSTS, CONTENTS);
	const SAMPLE_GRIDS = getSampleGrids(CONSTS, CONTENTS);
	const COMPONENT = getComponents(CONSTS, SAMPLE_GRIDS);
	
	new Vue({
	    el: '#app',
	    mounted: function() {
	    	this.handleResize();
			window.addEventListener('resize', this.handleResize);
			
	        const urlParams = new URLSearchParams(window.location.search);
	        let viewId = urlParams.get('view');
	        const anchorId = urlParams.get('anchor');
	        const lang = urlParams.get('lang');
	        this.currentLang = lang ? lang : 'KOR';
	        if(!viewId || ['intro','started','dive','api'].indexOf(viewId) < 0) viewId = 'dive';
	        this.currentView = viewId;
	        this.scrollAnchor(anchorId, null, 1000);
		},
	    data: {
	    	currentLang : 'KOR',
	        currentView : 'dive',
	        navItems: [
	            { id: 'intro', name: 'Intro' },
	            { id: 'started', name: 'Getting started' },
	            { id: 'dive', name: 'Deep dive' },
	            { id: 'api', name: 'API' },
	        ],
			langItems: [
				{ id: 'ENG', name: 'ENG' },
				{ id: 'KOR', name: 'KOR' },
			],
	        isMobileSize: window.innerWidth <= 600 ? true : false,
	    },
	    computed: {
        	isMobile() {
        		return (typeof window.orientation !== 'undefined') || (navigator.userAgent.indexOf('IEMobile') !== -1);
        	}
	    },
	    methods: {
	    	onLocation(link) {
	    		window.history.replaceState(null, null, window.location.href.split('?')[0] + link ? link : '');
	    		if(window.location.href === window.location.href.split('?')[0]) {
	    			location.reload();
	    		} else {
		    		window.location.href = window.location.href.split('?')[0];
	    		}
	    	},
	        changeView(id) {
	    		// window.history.replaceState(null, null, window.location.href.split('?')[0]);
	            this.currentView = id;
	        },
	        changeLang(id) {
	            this.currentLang = id;
	        },
	        handleResize() {
	            if(this.resizeTimeout) {
	                clearTimeout(this.resizeTimeout);
	            }
	            this.resizeTimeout = setTimeout(() => {
		        	this.isMobileSize = window.innerWidth <= 600 ? true : false;
	            }, 10);
			},
			changeSub(id, e) {
				e.preventDefault();
				this.currentSub = id;
				const anchor = document.getElementById(id);
				if(!anchor) return;
				anchor.scrollIntoView({
					behavior: 'smooth',
					block: 'start',
				});
			},
			isElInView(el) {
				if(!el) return false;
			    var rect = el.getBoundingClientRect();
			    var windowHeight = (window.innerHeight || document.documentElement.clientHeight);
			    var windowWidth = (window.innerWidth || document.documentElement.clientWidth);

				return (
				    rect.top >= 0 &&
				    rect.left >= 0 &&
				    rect.bottom <= windowHeight &&
				    rect.right <= windowWidth
				);
			},
        	getCommonContent(key) {
				return CONTENTS[this.currentLang].common[key].text
        	},
			getContentText(key) {
				return CONTENTS[this.currentLang][this.currentView].text[key] ? CONTENTS[this.currentLang][this.currentView].text[key].text : null;
			},
			getContentAnchor(key) {
				return CONTENTS[this.currentLang][this.currentView].text[key] && CONTENTS[this.currentLang][this.currentView].text[key].anchor ? CONTENTS[this.currentLang][this.currentView].text[key].anchor : this.generateUUID();
			},
			getContentCode(key) {
				return CONTENTS[this.currentLang][this.currentView].text[key] ? CONTENTS[this.currentLang][this.currentView].text[key].code : null;
			},
			getContentData(key) {
				const datas = SAMPLE_DATAS[this.currentLang][this.currentView][key];
				if(!datas) return null;
				return datas[0];
			},
			removeHighlightContent() {
				//기존 highlight 제거
				const highlighted = document.querySelectorAll('span.highlight-content');
				highlighted.forEach(span => {
					const parent = span.parentNode;
					const textNode = document.createTextNode(span.textContent);
					parent.replaceChild(textNode, span);
				});
			},
        	scrollAnchor(anchorId, schText, interval) {
				if(!anchorId) return;
				const removeHighlightContent = this.removeHighlightContent;
        		setTimeout(function() {
					const anchor = document.getElementById(anchorId);
					if(!anchor) return;
					if(schText) {
						//기존 highlight 제거
						removeHighlightContent();
						//검색 문자에 highlight 생성
						const regex = new RegExp(`(${schText})`, 'gi');
						const originalHTML = anchor.innerHTML;
						const highlightedHTML = originalHTML.replace(regex, '<span class="highlight-content">$1</span>');
						anchor.innerHTML = highlightedHTML;
					}
        			anchor.scrollIntoView({
						behavior: 'smooth',
						block: 'start',
					});
        		}, interval ? interval : 300);
        	},
			scrollAndFocusGrid(gridId, row, colId, interval) {
				if(!gridId) return;

				setTimeout(function() {
					if(window[gridId]) {
						window[gridId].setTargetCell(row, colId);
					}
					const anchor = document.getElementById(gridId);
					if(!anchor) return;
        			anchor.scrollIntoView({
						behavior: 'smooth',
						block: 'start',
					});
				}, interval ? interval : 300);
			},
			generateUUID() {
				return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
					const r = Math.random() * 16 | 0;
					const v = c === 'x' ? r : (r & 0x3 | 0x8);
					return v.toString(16);
				});
			},
	    },
	    components: {
			//=============================================================
			// level 1 components
			//=============================================================
	        'app-header': {
	            template: COMPONENT.header,
	            methods : {
	            	onLocation(link) {
	                    this.$emit('on-location', link);
	                },
	            }
	        },
	        'app-nav': {
	            template: COMPONENT.nav,
	            props: ['currentView','getCommonContent'],
	            data() {
	                return {
	                    navItems: this.$root.navItems,
	                    langItems: this.$root.langItems,
						ToggleClassNameLang: 'dropdown',
						searchIntroTextList: [],
						searchIntroGridList: [],
						searchStartedTextList: [],
						searchStartedGridList: [],
						searchDiveTextList: [],
						searchDiveGridList: [],
						searchApiTextList: [],
						searchApiGridList: [],
	                }
	            },
	    	    computed : {
	            	getLang() {
	            		for(item of this.langItems) {
	            			if(item.id === this.$root.currentLang) {
	            				return item.name;
	            			}
	            		}
	            	}
	    	    },
	            methods: {
					onSearch(e) {
						e.preventDefault();
						const schText = document.getElementById('searchInput').value;
						if(!schText) return;

						function highlightAndTrim(str, wordToHighlight) {
							const regex = new RegExp(`(${wordToHighlight})`, 'gi');
							const words = str.split(' ');
							let index = -1;
							for (let i = 0; i < words.length; i++) {
								if (words[i].toLowerCase().includes(wordToHighlight.toLowerCase())) {
									index = i;
									break;
								}
							}
							if (index === -1) {
								return str;
							}
							const trimmedWords = words.slice(Math.max(0, index - 2)).join(' ');
							const highlightedStr = trimmedWords.replace(regex, '<span class="highlight-search">$1</span>');
							return highlightedStr;
						}

						function getResText (searchTexts) {
							const resText = [];
							Object.keys(searchTexts).forEach(key => {
								if(searchTexts[key].text && typeof searchTexts[key].text === 'string') {
									const str = searchTexts[key].text ? searchTexts[key].text.replace(/\s+/g, '') : "";
									const regex = new RegExp(schText, 'i');
									if (regex.test(str)) {
										const item = JSON.parse(JSON.stringify(searchTexts[key]));
										item.li = highlightAndTrim(item.text, schText);
										item.schText = schText;
										resText.push(item);
									}
								}
							});
							return resText;
						}

						function getResGrid (searchGrids) {
							const resGrid = [];
							Object.keys(searchGrids).forEach(gridId => {
								Object.keys(searchGrids[gridId]).forEach((colId) => {
									searchGrids[gridId][colId].forEach((data) => {
										if(data.text && typeof data.text === 'string') {
											const str = data.text ? data.text.replace(/\s+/g, '') : "";
											const regex = new RegExp(schText, 'i');
											if (regex.test(str)) {
												const item = JSON.parse(JSON.stringify(data));
												item.li = highlightAndTrim(item.text, schText);
												item.schText = schText;
												resGrid.push(item);
											}
										}
									});
								});
							});
							return resGrid;
						}
						
						this.searchIntroTextList = getResText(CONTENTS[this.$root.currentLang].intro.text);
						this.searchIntroGridList = getResGrid(CONTENTS[this.$root.currentLang].intro.grid);
						this.searchStartedTextList = getResText(CONTENTS[this.$root.currentLang].started.text);
						this.searchStartedGridList = getResGrid(CONTENTS[this.$root.currentLang].started.grid);
						this.searchDiveTextList = getResText(CONTENTS[this.$root.currentLang].dive.text);
						this.searchDiveGridList = getResGrid(CONTENTS[this.$root.currentLang].dive.grid);
						this.searchApiTextList = getResText(CONTENTS[this.$root.currentLang].api.text);
						this.searchApiGridList = getResGrid(CONTENTS[this.$root.currentLang].api.grid);

						const searchBox = document.getElementById('searchBox');
						searchBox.style.display = "block";
					},
					offSearch(e) {
						if(e) e.preventDefault();
						this.$emit('remove-highlight-content');
						const searchInput = document.getElementById('searchInput');
						const searchBox = document.getElementById('searchBox');
						searchBox.style.display = "none";
						searchInput.value = "";
					},
					selectSearch(e, flag, item) {
						e.preventDefault();
						if(flag === 't') {
							if(item.view !== this.currentView) {
								this.$emit('change-view', item.view);		
							}
							this.$emit('scroll-anchor', item.anchor, item.schText);
						}
						else {
							if(item.view !== this.currentView) {
								this.$emit('change-view', item.view);		
							}
							this.$emit('scroll-and-focus-grid', item.gridId, item.row, item.colId);
						}
					},
	                changeView(id) {
	                    this.$emit('change-view', id);
	                },
					changeLang(id, e) {
						this.offSearch();
						this.$emit('change-lang', id);
						this.toggleLang(e);
					},
					toggleLang(e) {
						e.preventDefault();
						if(this.ToggleClassNameLang.includes('open')) {
							this.ToggleClassNameLang = 'dropdown'
						} else {
							this.ToggleClassNameLang = 'dropdown open'
						}
					},
	            },
	        },
	        'app-body': {
	            template: COMPONENT.body,
	        },
	        'app-footer': {
	            template: COMPONENT.footer,
	        },
			//=============================================================
			// level 2 components
			//=============================================================
			//=============================================================
			// intro
	        'app-intro': {
	            template: COMPONENT.intro,
	            props: ['currentLang','isMobileSize','changeSub','isElInView','getCommonContent','getContentText','getContentAnchor','getContentCode','getContentData','generateUUID'],
	            mounted: function() {
					this.handleScroll();
					window.addEventListener('scroll', this.handleScroll);

					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '400px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '500px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";

					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					window.removeEventListener('scroll', this.handleScroll);

					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'intro',
	            		introSubs : ['intro','why','browser','license','contact'],
						resizeTimeout : null,
					}
				},
	            computed: {
	            	getIntroSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.introSubs[0], name: '소개' },
			        	            { id: this.introSubs[1], name: '제작목적' },
			        	            { id: this.introSubs[2], name: '브라우저 호환성' },
			        	            { id: this.introSubs[3], name: '라이센스' },
			        	            { id: this.introSubs[4], name: '문의하기' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.introSubs[0], name: 'Introduction' },
			        	            { id: this.introSubs[1], name: 'Purpose of Prodution' },
			        	            { id: this.introSubs[2], name: 'Browser compatibility' },
			        	            { id: this.introSubs[3], name: 'License' },
			        	            { id: this.introSubs[4], name: 'Contact' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
					handleScroll(e) {
	                	if(this.$root.currentView !== 'intro') return;
	            		if(this.resizeTimeout) {
	    	                clearTimeout(this.resizeTimeout);
	    	            }
	    	            this.resizeTimeout = setTimeout(() => {
	    	            	const intro = document.getElementById('intro');
	    	            	const why = document.getElementById('why');
	    	            	const browser = document.getElementById('browser');
	    	            	const license = document.getElementById('license');
	    	            	const contact = document.getElementById('contact');
	    	            	
		            		if(this.isElInView(contact)) {
		            			this.currentSub = 'contact';
		            		} else if(this.isElInView(license)) {
		            			this.currentSub = 'license';
		            		} else if(this.isElInView(browser)) {
		            			this.currentSub = 'browser';
		            		} else if(this.isElInView(why)) {
		            			this.currentSub = 'why';
		            		} else if(this.isElInView(intro)) {
		            			this.currentSub = 'intro';
		            		}
	    	            }, 100);
	            	},
					loadGrid() {
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].load(SAMPLE_DATAS[this.currentLang].intro[CONSTS.SAMPLE_KEYS_INTRO[0]]);
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[1]].load(SAMPLE_DATAS[this.currentLang].intro[CONSTS.SAMPLE_KEYS_INTRO[1]]);
					},
					[CONSTS.SAMPLE_GRID_IDS_INTRO[0] + '_onAdd']() {	//gridIntro_onAdd
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].addRow({
							col4 : "1900-01-01",
							col5 : 0,
							col6 : [{value:"val1", text:"text1", selected:true},{value:"val2", text:"text2"},{value:"val3", text:"text3"}],
							col8 : "created",
							col9 : {value:"https://vanilla-note.github.io/",text:"go vanilla-note"},
						});
					},
					[CONSTS.SAMPLE_GRID_IDS_INTRO[0] + '_onRemove']() {	//gridIntro_onRemove
						const targetRow = window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].getTargetRow();
						if(!targetRow) {
							alert("Please select row.");
							return false;
						}
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].removeRow(targetRow);
					},
					[CONSTS.SAMPLE_GRID_IDS_INTRO[0] + '_onSave']() {	//gridIntro_onSave
						alert("It's completed!");
					},
	            },
	        },
			//=============================================================
			// started
	        'app-started': {
	            template: COMPONENT.started,
	            props: ['currentLang','isMobileSize','changeSub','isElInView','getCommonContent','getContentText','getContentAnchor','getContentCode','getContentData','generateUUID'],
	            mounted: function() {
					this.handleScroll();
					window.addEventListener('scroll', this.handleScroll);

					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '400px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '500px';
					}
					
					window[CONSTS.SAMPLE_GRID_IDS_STARTED[5]+"_onActiveCells"] = function (startRow, startColId, endRow, endColId) {
						document.getElementById('startRowSpan').textContent = startRow;
						document.getElementById('startColIdSpan').textContent = startColId;
						document.getElementById('endRowSpan').textContent = endRow;
						document.getElementById('endColIdSpan').textContent = endColId;
					}

					this.vg.create();
					
					const grid4 = window[CONSTS.SAMPLE_GRID_IDS_STARTED[3]];
					if(this.isMobileSize) {
						grid4.setGridHeight('500px');
					}
					else {
						grid4.setGridHeight('800px');
					}

					this.loadGrid();
				},
				beforeDestroy: function() {
					window.removeEventListener('scroll', this.handleScroll);

					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'started',
	            		startedSubs : ['started','simpUse','attr','events','methods'],
						resizeTimeout : null,
					}
				},
	            computed: {
	            	getStartedSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.startedSubs[0], name: '시작하기' },
			        	            { id: this.startedSubs[1], name: '간단한 사용' },
			        	            { id: this.startedSubs[2], name: '속성' },
			        	            { id: this.startedSubs[3], name: '이벤트' },
			        	            { id: this.startedSubs[4], name: '메소드' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.startedSubs[0], name: 'Getting Started' },
			        	            { id: this.startedSubs[1], name: 'Simple use' },
			        	            { id: this.startedSubs[2], name: 'Attributes' },
			        	            { id: this.startedSubs[3], name: 'Events' },
			        	            { id: this.startedSubs[4], name: 'Methods' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
					handleScroll(e) {
	                	if(this.$root.currentView !== 'started') return;
	            		if(this.resizeTimeout) {
	    	                clearTimeout(this.resizeTimeout);
	    	            }
	    	            this.resizeTimeout = setTimeout(() => {
	    	            	const started = document.getElementById('started');
	    	            	const simpUse = document.getElementById('simpUse');
	    	            	const attr = document.getElementById('attr');
	    	            	const events = document.getElementById('events');
	    	            	const methods = document.getElementById('methods');

		            		if(this.isElInView(methods)) {
		            			this.currentSub = 'methods';
		            		} else if(this.isElInView(events)) {
		            			this.currentSub = 'events';
		            		} else if(this.isElInView(attr)) {
		            			this.currentSub = 'attr';
		            		} else if(this.isElInView(simpUse)) {
		            			this.currentSub = 'simpUse';
		            		} else if(this.isElInView(started)) {
		            			this.currentSub = 'started';
		            		}
	    	            }, 100);
	            	},
					loadGrid() {
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[0]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[0]]);
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[1]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[1]]);
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[2]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[2]]);
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[3]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[3]]);
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[4]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[4]]);
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[5]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[5]]);

						const grid4 = window[CONSTS.SAMPLE_GRID_IDS_STARTED[3]];
						grid4.setCellDataType(2, 4, 'mask');
						grid4.setCellFormat(2, 4, 'AAA-99')
						grid4.setCellDataType(3, 4, 'number');
						grid4.setCellFormat(3, 4, '0 %');
						grid4.setCellDataType(4, 4, 'date');
						grid4.setCellDataType(5, 4, 'month');
						grid4.setCellDataType(6, 4, 'select');
						grid4.setCellDataType(7, 4, 'checkbox');
						grid4.setCellDataType(8, 4, 'button');
						grid4.setCellDataType(9, 4, 'link');
						grid4.setCellDataType(10, 4, 'code');
						grid4.setCellCodes(10, 4, ['C','U','D']);
					},
					addRowNo(e) {
						for(let i = 0; i < 50; i ++) {
							window[CONSTS.SAMPLE_GRID_IDS_STARTED[6]].addRow();
						}
					},
					addRowYes(e) {
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[6]].setGridMount(false);
						for(let i = 0; i < 50; i ++) {
							window[CONSTS.SAMPLE_GRID_IDS_STARTED[6]].addRow();
						}
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[6]].setGridMount(true);
					},
					gridClear(e) {
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[6]].clear();
					},
	            },
	        },
			//=============================================================
			// dive
	        'app-dive': {
	            template: COMPONENT.dive,
	            props: ['currentLang','isMobileSize','changeSub','isElInView','getCommonContent','getContentText','getContentAnchor','getContentCode','getContentData','generateUUID'],
	            mounted: function() {
					this.handleScroll();
					window.addEventListener('scroll', this.handleScroll);

					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '500px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '400px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";

					this.vg.dataType = {
						"tree" : {
							justifyContent: "left",
							onSelected : function (target, data) {
							},
							onUnselected : function (target, data) {
							},
							onSelectedAndKeyDown : function (event, data) {
							},
							onClick : function (event, data) {
							},
							onMousedown : function (event, data) {
							},
							getValue: function (value) {
								if(value.constructor === Object) {
									return value;
								} else {
									return {title: value, toggle: false};
								}
							},
							getText: function (value) {
								if(!value) return null
								return value.title
							},
							getChildNode: function (data) {
								if(!data.value) return document.createElement('span');

								const treeSpan = document.createElement('span');
								const treeText = document.createElement('span');
								treeText.innerText = data.text;
								treeText.style.display = 'inline-block';
								treeText.style.marginRight = '10px';
								treeText.addEventListener('click', (e) => {
									onClick(e, data);
								})

								const treeToggle = document.createElement('span');
								treeToggle.classList.add('far');
								if(data.value.toggle) {
									// treeToggle.classList.add('fa-minus-square');
									// treeToggle.classList.remove('fa-plus-square');
									treeToggle.innerText = 'T'
								}
								else {
									// treeToggle.classList.add('fa-plus-square');
									// treeToggle.classList.remove('fa-minus-square');
									treeToggle.innerText = 'F'
								}
								treeToggle.style.fontSize = '0.85em';
								treeToggle.addEventListener('click', (e) => {
									onClick(e, data);
								})

								const grid = window[data.gridId];
								/*
								debugger;
								for(let col = data.col; col > 3; col--) {
									if(grid.getColDataType(col - 1) === 'tree') {
										for(let row = data.row; row > 0; row--) {
											if(row === 1) {
												if (!grid.getCellValue(row, col - 1).toggle) {
													treeText.innerText = "...";
												}
												else {
													console.log(data.text);
													treeText.innerText = data.text;
												}
												break;
											}
											else if(row > 1 && grid.getCellText(row - 1, col - 1) !== grid.getCellText(row, col - 1)) {
												if(!grid.getCellValue(row, col).toggle) {
													treeText.innerText = "...";
												}
												else {
													treeText.innerText = data.text;
												}
												break;
											}
										}
									}
								}
								*/
								treeSpan.append(treeText);
								treeSpan.append(treeToggle);
								
								function onClick(e, data) {
									const grid = window[data.gridId];
									const toggle = !data.value.toggle;

									function openTree (nowRow, col) {
										let startRow;
										const title = grid.getCellText(nowRow, col);
										if(nowRow === 1) {
											startRow = nowRow;
										}
										else {
											for(let row = nowRow; row > 1; row--) {
												if(grid.getCellText(row, col) === title) {
													startRow = row;
													break;
												}
											}
										}
										const newValue = {title : title, toggle : true};

										for(let row = startRow; row <= grid.getRowCount(); row++) {
											if(title !== grid.getCellText(row, col)) break;
											grid.setCellValue(row, col, newValue);
											if(row !== startRow) {
												if(grid.getColDataType(col + 1) === 'tree') {
													if(row === 1 || grid.getCellText(row, col + 1) !== grid.getCellText(row - 1, col + 1)) {
														grid.setRowVisible(row, true);
													}
												}
												else {
													grid.setRowVisible(row, true);
												}
											}
										}
									}

									function closeTree (nowRow, col) {
										let startRow = nowRow;
										const title = grid.getCellText(nowRow, col);
										if(!title) return;
										const newValue = {title : title, toggle : false};
										
										for(let row = startRow; row <= grid.getRowCount(); row++) {
											if(title !== grid.getCellText(row, col)) break;
											grid.setCellValue(row, col, newValue);
											if(row !== startRow) {
												grid.setRowVisible(row, false);
											}
										}
									}

									if(toggle) {
										for(let col = data.col; col > 2; col--) {
											openTree(data.row, col);
										}
									}
									else {
										for(let col = data.col; col <= grid.getColCount(); col++) {
											closeTree(data.row, col);
										}
									}
								}
							
								return treeSpan;
							},
							getFilterValue: function (value) {
							},
							getSortValue: function (value) {
							},
							getCopyValue: function (value) {
							},
							getPasteValue: function (data, text) {
							},
						},
						"radio" : {
							justifyContent: "center",
							textAlign: "center",
							onSelectedAndKeyDown : function (event, data) {
								if(event.key === 'Enter' || event.key === ' ') {
									window[data.gridId].setColSameValue(data.col, "N", true);
									window[data.gridId].setCellValue(data.row, data.col, data.value === "Y" ? "N" : "Y", true);
									return false;
								}
							},
							onClick : function (event, data) {
								if(event.target.tagName !== 'INPUT') return;
								let value = event.target.checked;
								window[event.target.gridId].setColSameValue(event.target.cellCol, "N", true);
								window[event.target.gridId].setCellValue(event.target.cellRow, event.target.cellCol, value ? "Y" : "N", true);
							},
							getValue: function (value) {
								return value;
							},
							getText: function (value) {
								const text = value === "Y" ? "true" : "false";
								return text;
							},
							getChildNode: function (data) {
								const childNode = document.createElement("input");
								childNode.setAttribute("type", "radio");
								childNode.setAttribute("name", data.name);
								childNode.setAttribute("value", "" + data.row);
								childNode.gridId = data.gridId;
								childNode.cellRow = data.row;
								childNode.cellCol = data.col;
								childNode.checked = data.value === "Y";
								return childNode;
							},
							getFilterValue: function (value) {
								const filterValue = value === "Y" ? "●" : "○";
								return filterValue;
							},
						},
						"img" : {
							justifyContent: "center",
							textAlign: "center",
							onSelected : function (target, data) {
								target.firstChild.children[0].style.setProperty("opacity", "0.2");
							},
							onUnselected : function (target, data) {
								target.firstChild.children[0].style.removeProperty("opacity");
							},
							onSelectedAndKeyDown : function (event, data) {
							},
							onClick : function (event, data) {
							},
							onMousedown : function (event, data) {
							},
							getValue: function (value) {
								if (value.alt && typeof value.alt === "string" && value.alt.endsWith('.jpg')) {
									value.alt = value.alt.slice(0, -4);
								}
								value.alt = value.alt + ".jpg"
								return value;
							},
							getText: function (value) {
								if (value.alt && typeof value.alt === "string" && value.alt.startsWith("title : ")) {
									value.alt = value.alt.slice("title : ".length);
								}
								return "title : " + value.alt;
							},
							getChildNode: function (data) {
								const childNode = document.createElement("span");
								childNode.style.display = "flex";
								childNode.style.alignItems = "center";
								childNode.style.position = "relative";
								childNode.style.overflow = "hidden";
								childNode.style.width = "100%";
								const img = document.createElement("img");
								const alt = document.createElement("span");
								img.style.width = "100%"
								img.style.height = "80px"
								img.style.zIndex = "1";
								img.src = data.value.src;
								img.alt = data.text;
								alt.style.position = "absolute";
								alt.style.fontSize = "12px";
								alt.style.color = "black";
								alt.style.textAlign = "left";
								alt.style.display = "inline-block";
								alt.style.width = "100%";
								alt.style.whiteSpace = "normal";
								alt.style.wordBreak = "break-all";
								alt.innerText = data.text;
								
								img.gridId = data.gridId;
								img.cellRow = data.row;
								img.cellCol = data.col;

								childNode.append(img);
								childNode.append(alt);
								childNode.addEventListener('click', function (e) {
									window[e.target.gridId].setTargetCell(e.target.cellRow, e.target.cellCol);
								})
								childNode.addEventListener('dblclick', function (e) {
									window[e.target.gridId].editCell(e.target.cellRow, e.target.cellCol);
								})
								return childNode;
							},
							getEditor: function (target, data, call_modify, call_endEdit) {
								const editor = document.createElement("input");
								editor.setAttribute("type","text");
								editor.style.width = target.offsetWidth + 'px';
								editor.style.height = target.scrollHeight + editor.offsetHeight - editor.clientHeight + 'px';
								editor.style.position = "absolute";
								editor.style.zIndex = "200";
								editor.value = data.text;

								editor.addEventListener('keydown', function (e) {
									switch (e.key) {
										case 'Enter':
											call_modify();
											e.stopPropagation();
											e.preventDefault();
											break;
										case 'Escape':
											call_endEdit();
											e.stopPropagation();
											e.preventDefault();
											break;
										case 'Tab':
											call_modify();
											e.stopPropagation();
											e.preventDefault();
											break;
										case 'F2':
											call_modify();
											e.stopPropagation();
											e.preventDefault();
											break;
										default:
											break;
									}
								});
								return editor;
							},
							getEditedValue: function (target, data) {
								const newValue = data.value;
								newValue.alt = target.value;
								return newValue;
							},
							getFilterValue: function (value) {
								return "title : " + value.alt;
							},
							getSortValue: function (value) {
								return value.alt;
							},
							getCopyValue: function (value) {
								return value.alt;
							},
							getPasteValue: function (data, text) {
								const value = data.value;
								value.alt = text;
								return value;
							},
						}
					}

					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					window.removeEventListener('scroll', this.handleScroll);

					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'dive',
	            		diveSubs : ['dive','creDes','vgObject','fooFunc','dataType'],
						resizeTimeout: null,
					}
				},
	            computed: {
	            	getDiveSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.diveSubs[0], name: 'Deep dive!' },
			        	            { id: this.diveSubs[1], name: '생성과 소멸' },
			        	            { id: this.diveSubs[2], name: 'Vanilla grid 객체' },
			        	            { id: this.diveSubs[3], name: 'footer 함수' },
			        	            { id: this.diveSubs[4], name: '데이터 타입' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.diveSubs[0], name: 'Deep dive!' },
			        	            { id: this.diveSubs[1], name: 'Create & Destroy' },
			        	            { id: this.diveSubs[2], name: 'Vanilla grid object' },
			        	            { id: this.diveSubs[3], name: 'Footer function' },
			        	            { id: this.diveSubs[4], name: 'Data type' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
					handleScroll(e) {
	                	if(this.$root.currentView !== 'dive') return;
	            		if(this.resizeTimeout) {
	    	                clearTimeout(this.resizeTimeout);
	    	            }
	    	            this.resizeTimeout = setTimeout(() => {
	    	            	const dive = document.getElementById('dive');
	    	            	const creDes = document.getElementById('creDes');
	    	            	const vgObject = document.getElementById('vgObject');
	    	            	const fooFunc = document.getElementById('fooFunc');
	    	            	const dataType = document.getElementById('dataType');
	    	            	
		            		if(this.isElInView(dataType)) {
		            			this.currentSub = 'dataType';
		            		} else if(this.isElInView(fooFunc)) {
		            			this.currentSub = 'fooFunc';
		            		} else if(this.isElInView(vgObject)) {
		            			this.currentSub = 'vgObject';
		            		} else if(this.isElInView(creDes)) {
		            			this.currentSub = 'creDes';
		            		} else if(this.isElInView(dive)) {
		            			this.currentSub = 'dive';
		            		}
	    	            }, 100);
	            	},
					loadGrid() {
						const grid01 = window[CONSTS.SAMPLE_GRID_IDS_DIVE[0]];
						grid01.load(SAMPLE_DATAS[this.currentLang].dive[CONSTS.SAMPLE_KEYS_DIVE[0]]);

						for(let r = 2; r <= grid01.getRowCount(); r++) {
							if(grid01.getCellText(r - 1, 3) === grid01.getCellText(r, 3)) {
								grid01.setRowVisible(r, false);
							}
						}
					},
	            },
	        },
			//=============================================================
			// api
	        'app-api': {
	            template: COMPONENT.api,
	            props: ['currentLang','isMobileSize','changeSub','isElInView','getCommonContent','getContentText','getContentAnchor','getContentCode','getContentData','generateUUID'],
	            mounted: function() {
					this.handleScroll();
					window.addEventListener('scroll', this.handleScroll);

					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '500px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '400px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";

					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					window.removeEventListener('scroll', this.handleScroll);

					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'api',
	            		apiSubs : ['gridAttr','colAttr','events','methodes','vgObject'],
						resizeTimeout: null,
					}
				},
	            computed: {
	            	getApiSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.apiSubs[0], name: '그리드 속성' },
			        	            { id: this.apiSubs[1], name: '컬럼 속성' },
			        	            { id: this.apiSubs[2], name: '이벤트' },
			        	            { id: this.apiSubs[3], name: '메소드' },
			        	            { id: this.apiSubs[4], name: 'Vanilla grid 객체' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.apiSubs[0], name: 'Grid attributes' },
			        	            { id: this.apiSubs[1], name: 'Column attributes' },
			        	            { id: this.apiSubs[2], name: 'Events' },
			        	            { id: this.apiSubs[3], name: 'Methods' },
			        	            { id: this.apiSubs[4], name: 'Vanilla grid object' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
					handleScroll(e) {
	                	if(this.$root.currentView !== 'api') return;
	            		if(this.resizeTimeout) {
	    	                clearTimeout(this.resizeTimeout);
	    	            }
	    	            this.resizeTimeout = setTimeout(() => {
	    	            	const gridAttr = document.getElementById('gridAttr');
	    	            	const colAttr = document.getElementById('colAttr');
	    	            	const events = document.getElementById('events');
	    	            	const methodes = document.getElementById('methodes');
	    	            	const vgObject = document.getElementById('vgObject');
	    	            	
		            		if(this.isElInView(vgObject)) {
		            			this.currentSub = 'vgObject';
		            		} else if(this.isElInView(methodes)) {
		            			this.currentSub = 'methodes';
		            		} else if(this.isElInView(events)) {
		            			this.currentSub = 'events';
		            		} else if(this.isElInView(colAttr)) {
		            			this.currentSub = 'colAttr';
		            		} else if(this.isElInView(gridAttr)) {
		            			this.currentSub = 'gridAttr';
		            		}
	    	            }, 100);
	            	},
					loadGrid() {
						// window[CONSTS.SAMPLE_GRID_IDS_API[0]].load(SAMPLE_DATAS[this.currentLang].api[CONSTS.SAMPLE_KEYS_API[0]]);
					},
	            },
	        },
	    },
	});
	//그리드가 있는 상태로 view를 변환 시 에러??
	</script>
	<script type="text/javascript">
	vanillagrid_onBeforeCreate = function(e, vg) {
		return false;
	}
	</script>
</body>
</html>
