<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="apple-mobile-web-app-capable"content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta property="og:url" content="https://vanilla-grid.github.io/">
	<title>Vanillagrid</title>
	<meta name="application-name" content="Vanillagrid">
	<meta name="msapplication-tooltip" content="Vanillagrid">
	<meta id="meta_og_title" property="og:title" content="Vanillagrid(only vanilla JS)">
	<meta name="description" content="A simple Grid library using only Vanilla JS.">
	<meta property="og:description" content="A simple Grid library using only Vanilla JS.">
	<meta property="og:type" content="website">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
	<script src="Vanillagrid.min.1.0.0.js?v=202406241655"></script>
	<script src="Consts.js?v=202406241655"></script>
	<script src="Contents.js?v=202406241655"></script>
	<script src="SampleDatas.js?v=202406241655"></script>
	<script src="SampleGrids.js?v=202406241655"></script>
	<script src="Component.js?v=202406241655"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<style>
	*, ::before, ::after {
	    --tw-border-spacing-x: 0;
	    --tw-border-spacing-y: 0;
	    --tw-translate-x: 0;
	    --tw-translate-y: 0;
	    --tw-rotate: 0;
	    --tw-skew-x: 0;
	    --tw-skew-y: 0;
	    --tw-scale-x: 1;
	    --tw-scale-y: 1;
	    --tw-pan-x: ;
	    --tw-pan-y: ;
	    --tw-pinch-zoom: ;
	    --tw-scroll-snap-strictness: proximity;
	    --tw-ordinal: ;
	    --tw-slashed-zero: ;
	    --tw-numeric-figure: ;
	    --tw-numeric-spacing: ;
	    --tw-numeric-fraction: ;
	    --tw-ring-inset: ;
	    --tw-ring-offset-width: 0px;
	    --tw-ring-offset-color: #fff;
	    --tw-ring-color: rgb(59 130 246 / 0.5);
	    --tw-ring-offset-shadow: 0 0 #0000;
	    --tw-ring-shadow: 0 0 #0000;
	    --tw-shadow: 0 0 #0000;
	    --tw-shadow-colored: 0 0 #0000;
	    --tw-blur: ;
	    --tw-brightness: ;
	    --tw-contrast: ;
	    --tw-grayscale: ;
	    --tw-hue-rotate: ;
	    --tw-invert: ;
	    --tw-saturate: ;
	    --tw-sepia: ;
	    --tw-drop-shadow: ;
	    --tw-backdrop-blur: ;
	    --tw-backdrop-brightness: ;
	    --tw-backdrop-contrast: ;
	    --tw-backdrop-grayscale: ;
	    --tw-backdrop-hue-rotate: ;
	    --tw-backdrop-invert: ;
	    --tw-backdrop-opacity: ;
	    --tw-backdrop-saturate: ;
	    --tw-backdrop-sepia: ;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	html, body {
		max-width: 100%;
		overflow-x: hidden;
	    border-width: 0;
	}
	body {
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 1.2em;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	@font-face {
		font-family: 'Noto Sans KR';
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	    color: #333;
	    background-color: #f4f4f4;
	}
	.dropdown>li.active>a, .dropdown>li.active>a:focus, .dropdown>li.active>a:hover {
	    color: #333;
	    background-color: #f4f4f4;
	}
	.nav .open>a {
		border: none;
	}
	.nav>li>a {
		z-index: 999;
	}
	.nav-stacked {
		position: fixed;
	}
	.search-input {
		min-width: 300px;
	}
	.search-box {
		position: fixed;
		z-index: 9999;
		bottom: 0;
		left: 0;
		width:100%;
		height: 350px;
		margin-top:2px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f9f9f9;
		opacity: 0.9;
		display: none;
	}
	.search-list-box {
		width: 92%;
		height: 80%;
		background-color: #fff;
		margin: 10px auto;
		padding: 10px 5px;
		font-size: 14px;
		overflow-y: auto;
		overflow-x: hidden;
		line-height: 28px;
	}
	.search-list {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		width: 95%;
	}
	.no-search-list {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	a {
		color: #333;
	}
	a:hover {
		color: #333;
		background-color: #f8f8f8;
	}
	input:focus {
		border-color: #ccc!important;
		outline: none!important;
		box-shadow: none!important;
	}
	table {
		overflow-wrap: break-word;
		table-layout: fixed;
	}
	th td {
		overflow:hidden;
		white-space : nowrap;
		text-overflow: ellipsis;
	}
	code {
		font-family: Consolas, "Courier New", monospace;
	}
	code:lang(ko) {
		font-family: 'Noto Sans KR';
	}
	.dot {
		display: inline-block;
		margin-right: 7px;
	}
	.grid-box, .explain-box {
		width: 70%;
		padding-left: 30px;
	}
	.margin-left {
		margin-left: 10px;
	}
	.margin-right {
		margin-right: 10px;
	}
	.padding-left {
		padding-left: 10px;
	}
	.padding-right {
		padding-right: 10px;
	}
	.padding-top {
		padding-top: 10px;
	}
	.full-width {
		width: 100%;
	}
	.bold-none {
		font-weight: 300;
	}
	.h4 {
		padding: 0 5px;
		line-height: 1.5em;
	}
	.h5 {
		padding: 0 8px;
		font-size: 15px;
		line-height: 1.5em;
	}
	.logo {
		font-family: 'Georgia';
		font-size: 36px;
		padding: 5px 0;
		cursor: pointer;
		margin: 10px 0 20px 0;
	}
	.highlight-search {
		background-color: yellow;
		font-weight: bold;
	}
	.highlight-content {
		background-color: yellow;
		font-weight: bold;
	}
	@media (max-width: 2000px) {
		.grid-box, .explain-box {
			width: 95%;
		}
	}
	@media (max-width: 600px) {
		.explain-box {
			padding:0 15px;
			width: 100%;
		}
		.grid-box {
			padding:0;
			width: 100%;
		}
		.nav>li>a {
	    padding: 15px 10px!important;
 	    font-size:0.9em;
		}
	}
	</style>
</head>
<body>
	<div id="app">
		<app-header
		@on-location="onLocation"
		></app-header>
		<app-nav
		:current-view="currentView"
		:get-common-content="getCommonContent"
		@remove-highlight-content="removeHighlightContent"
		@scroll-anchor="scrollAnchor"
		@scroll-and-focus-grid="scrollAndFocusGrid"
		@change-view="changeView"
		@change-lang="changeLang"
		></app-nav>
		<app-body>
			<app-intro
			v-if="currentView === 'intro'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:get-common-content="getCommonContent"
			:generate-u-u-i-d="generateUUID"
			></app-intro>
			<app-started
			v-if="currentView === 'started'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:get-common-content="getCommonContent"
			:generate-u-u-i-d="generateUUID"
			:get-href="getHref"
			></app-started>
			<app-dive
			v-if="currentView === 'dive'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:is-mobile="isMobile"
			:is-el-in-view="isElInView"
			:get-common-content="getCommonContent"
			:get-href="getHref"
			></app-dive>
			<app-api
			v-if="currentView === 'api'"
			:current-lang="currentLang"
			:is-mobile-size="isMobileSize"
			:is-mobile="isMobile"
			:is-el-in-view="isElInView"
			:get-common-content="getCommonContent"
			:get-href="getHref"
			></app-api>
		</app-body>
		<app-footer></app-footer>
	</div>
	<script>
	const CONSTS = getConsts();
	const CONTENTS = getContents(CONSTS);
	const SAMPLE_DATAS = getSampleDatas(CONSTS, CONTENTS);
	const SAMPLE_GRIDS = getSampleGrids(CONSTS, CONTENTS);
	const COMPONENT = getComponents(CONSTS, SAMPLE_GRIDS);
	
	new Vue({
	    el: '#app',
	    mounted: function() {
	    	this.handleResize();
			window.addEventListener('resize', this.handleResize);
			
	        const urlParams = new URLSearchParams(window.location.search);
	        let viewId = urlParams.get('view');
	        let anchorId = urlParams.get('anchor');
	        let lang = urlParams.get('lang');
	        this.currentLang = lang ? lang : 'ENG';
	        if(!viewId || ['intro','started','dive','api'].indexOf(viewId) < 0) viewId = 'started';
	        this.currentView = viewId;
	        this.scrollAnchor(anchorId, null, 1000);
		},
	    data: {
	    	currentLang : 'ENG',
	        currentView : 'started',
	        navItems: [
	            { id: 'intro', name: 'Intro' },
	            { id: 'started', name: 'Getting started' },
	            { id: 'dive', name: 'Deep dive' },
	            { id: 'api', name: 'API' },
	        ],
			langItems: [
				{ id: 'ENG', name: 'ENG' },
				{ id: 'KOR', name: 'KOR' },
			],
	        isMobileSize: window.innerWidth <= 600 ? true : false,
	    },
	    computed: {
        	isMobile() {
        		return (typeof window.orientation !== 'undefined') || (navigator.userAgent.indexOf('IEMobile') !== -1);
        	}
	    },
	    methods: {
	    	onLocation(link) {
	    		window.history.replaceState(null, null, window.location.href.split('?')[0] + link ? link : '');
	    		if(window.location.href === window.location.href.split('?')[0]) {
	    			location.reload();
	    		} else {
		    		window.location.href = window.location.href.split('?')[0];
	    		}
	    	},
	        changeView(id) {
	    		// window.history.replaceState(null, null, window.location.href.split('?')[0]);
	            this.currentView = id;
	        },
	        changeLang(id) {
	            this.currentLang = id;
	        },
	        handleResize() {
	            if(this.resizeTimeout) {
	                clearTimeout(this.resizeTimeout);
	            }
	            this.resizeTimeout = setTimeout(() => {
		        	this.isMobileSize = window.innerWidth <= 600 ? true : false;
	            }, 10);
			},
			isElInView(el) {
				if(!el) return false;
			    var rect = el.getBoundingClientRect();
			    var windowHeight = (window.innerHeight || document.documentElement.clientHeight);
			    var windowWidth = (window.innerWidth || document.documentElement.clientWidth);

				return (
				    rect.top >= 0 &&
				    rect.left >= 0 &&
				    rect.bottom <= windowHeight &&
				    rect.right <= windowWidth
				);
			},
        	getCommonContent(key) {
				return CONTENTS[this.currentLang].common[key].text
        	},
        	getHref(view, anchor) {
        		return '?view=' + view + '&anchor=' + anchor + '&lang=' + this.currentLang
        	},
			removeHighlightContent() {
				//기존 highlight 제거
				const highlighted = document.querySelectorAll('span.highlight-content');
				highlighted.forEach(span => {
					const parent = span.parentNode;
					const textNode = document.createTextNode(span.textContent);
					parent.replaceChild(textNode, span);
				});
			},
        	scrollAnchor(anchorId, schText, interval) {
				if(!anchorId) return;
				const removeHighlightContent = this.removeHighlightContent;
        		setTimeout(function() {
					const anchor = document.getElementById(anchorId);
					if(!anchor) return;
					if(schText) {
						//기존 highlight 제거
						removeHighlightContent();
						//검색 문자에 highlight 생성
						const regex = new RegExp(`(${schText})`, 'gi');
						const originalHTML = anchor.innerHTML;
						const highlightedHTML = originalHTML.replace(regex, '<span class="highlight-content">$1</span>');
						anchor.innerHTML = highlightedHTML;
					}
        			anchor.scrollIntoView({
						behavior: 'smooth',
						block: 'start',
					});
        		}, interval ? interval : 300);
        	},
			scrollAndFocusGrid(gridId, row, colId, interval) {
				if(!gridId) return;

				setTimeout(function() {
					if(window[gridId]) {
						window[gridId].setTargetCell(row, colId);
					}
					const anchor = document.getElementById(gridId);
					if(!anchor) return;
        			anchor.scrollIntoView({
						behavior: 'smooth',
						block: 'start',
					});
				}, interval ? interval : 300);
			},
			generateUUID() {
				return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
					const r = Math.random() * 16 | 0;
					const v = c === 'x' ? r : (r & 0x3 | 0x8);
					return v.toString(16);
				});
			},
	    },
	    components: {
			//=============================================================
			// level 1 components
			//=============================================================
	        'app-header': {
	            template: COMPONENT.header,
	            methods : {
	            	onLocation(link) {
	                    this.$emit('on-location', link);
	                },
	            }
	        },
	        'app-nav': {
	            template: COMPONENT.nav,
	            props: ['currentView','getCommonContent'],
	            data() {
	                return {
	                    navItems: this.$root.navItems,
	                    langItems: this.$root.langItems,
						ToggleClassNameLang: 'dropdown',
						searchIntroTextList: [],
						searchIntroGridList: [],
						searchStartedTextList: [],
						searchStartedGridList: [],
						searchDiveTextList: [],
						searchDiveGridList: [],
						searchApiTextList: [],
						searchApiGridList: [],
	                }
	            },
	    	    computed : {
	            	getLang() {
	            		for(item of this.langItems) {
	            			if(item.id === this.$root.currentLang) {
	            				return item.name;
	            			}
	            		}
	            	}
	    	    },
	            methods: {
					onSearch(e) {
						e.preventDefault();
						const schText = document.getElementById('searchInput').value;
						if(!schText) return;

						function highlightAndTrim(str, wordToHighlight) {
							const regex = new RegExp(`(${wordToHighlight})`, 'gi');
							const words = str.split(' ');
							let index = -1;
							for (let i = 0; i < words.length; i++) {
								if (words[i].toLowerCase().includes(wordToHighlight.toLowerCase())) {
									index = i;
									break;
								}
							}
							if (index === -1) {
								return str;
							}
							const trimmedWords = words.slice(Math.max(0, index - 2)).join(' ');
							const highlightedStr = trimmedWords.replace(regex, '<span class="highlight-search">$1</span>');
							return highlightedStr;
						}

						function getResText (searchTexts) {
							const resText = [];
							Object.keys(searchTexts).forEach(key => {
								if(searchTexts[key].text && typeof searchTexts[key].text === 'string') {
									const str = searchTexts[key].text ? searchTexts[key].text.replace(/\s+/g, '') : "";
									const regex = new RegExp(schText, 'i');
									if (regex.test(str)) {
										const item = JSON.parse(JSON.stringify(searchTexts[key]));
										item.li = highlightAndTrim(item.text, schText);
										item.schText = schText;
										resText.push(item);
									}
								}
							});
							return resText;
						}

						function getResGrid (searchGrids) {
							const resGrid = [];
							Object.keys(searchGrids).forEach(gridId => {
								Object.keys(searchGrids[gridId]).forEach((colId) => {
									searchGrids[gridId][colId].forEach((data) => {
										if(data.text && typeof data.text === 'string') {
											const str = data.text ? data.text.replace(/\s+/g, '') : "";
											const regex = new RegExp(schText, 'i');
											if (regex.test(str)) {
												const item = JSON.parse(JSON.stringify(data));
												item.li = highlightAndTrim(item.text, schText);
												item.schText = schText;
												resGrid.push(item);
											}
										}
									});
								});
							});
							return resGrid;
						}
						
						this.searchIntroTextList = getResText(CONTENTS[this.$root.currentLang].intro.text);
						this.searchIntroGridList = getResGrid(CONTENTS[this.$root.currentLang].intro.grid);
						this.searchStartedTextList = getResText(CONTENTS[this.$root.currentLang].started.text);
						this.searchStartedGridList = getResGrid(CONTENTS[this.$root.currentLang].started.grid);
						this.searchDiveTextList = getResText(CONTENTS[this.$root.currentLang].dive.text);
						this.searchDiveGridList = getResGrid(CONTENTS[this.$root.currentLang].dive.grid);
						this.searchApiTextList = getResText(CONTENTS[this.$root.currentLang].api.text);
						this.searchApiGridList = getResGrid(CONTENTS[this.$root.currentLang].api.grid);

						const searchBox = document.getElementById('searchBox');
						searchBox.style.display = "block";
					},
					offSearch(e) {
						if(e) e.preventDefault();
						this.$emit('remove-highlight-content');
						const searchInput = document.getElementById('searchInput');
						const searchBox = document.getElementById('searchBox');
						searchBox.style.display = "none";
						searchInput.value = "";
					},
					selectSearch(e, flag, item) {
						e.preventDefault();
						if(flag === 't') {
							if(item.view !== this.currentView) {
								this.$emit('change-view', item.view);		
							}
							this.$emit('scroll-anchor', item.anchor, item.schText);
						}
						else {
							if(item.view !== this.currentView) {
								this.$emit('change-view', item.view);		
							}
							this.$emit('scroll-and-focus-grid', item.gridId, item.row, item.colId);
						}
					},
	                changeView(id) {
	                    this.$emit('change-view', id);
	                },
					changeLang(id, e) {
						this.offSearch();
						this.$emit('change-lang', id);
						this.toggleLang(e);
					},
					toggleLang(e) {
						e.preventDefault();
						if(this.ToggleClassNameLang.includes('open')) {
							this.ToggleClassNameLang = 'dropdown'
						} else {
							this.ToggleClassNameLang = 'dropdown open'
						}
					},
	            },
	        },
	        'app-body': {
	            template: COMPONENT.body,
	        },
	        'app-footer': {
	            template: COMPONENT.footer,
	        },
			//=============================================================
			// level 2 components
			//=============================================================
			//=============================================================
			// intro
	        'app-intro': {
	            template: COMPONENT.intro,
	            props: ['currentLang','isMobileSize','getCommonContent','generateUUID'],
	            mounted: function() {
					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '500px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '400px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";
					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'intro',
	            		introSubs : ['intro','why','browser','license','contact'],
					}
				},
	            computed: {
	            	getIntroSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.introSubs[0], name: '소개' },
			        	            { id: this.introSubs[1], name: '제작목적' },
			        	            { id: this.introSubs[2], name: '브라우저 호환성' },
			        	            { id: this.introSubs[3], name: '라이센스' },
			        	            { id: this.introSubs[4], name: '문의하기' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.introSubs[0], name: 'Introduction' },
			        	            { id: this.introSubs[1], name: 'Purpose of Prodution' },
			        	            { id: this.introSubs[2], name: 'Browser compatibility' },
			        	            { id: this.introSubs[3], name: 'License' },
			        	            { id: this.introSubs[4], name: 'Contact' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
	                changeSub(id, e) {
						e.preventDefault();
	                	this.currentSub = id;
						let anchor = document.getElementById(id);
						if(!anchor) return;
						anchor.scrollIntoView({
							behavior: 'smooth',
							block: 'start',
						});
	                },
					loadGrid() {
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].load(SAMPLE_DATAS[this.currentLang].intro[CONSTS.SAMPLE_KEYS_INTRO[0]]);
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[1]].load(SAMPLE_DATAS[this.currentLang].intro[CONSTS.SAMPLE_KEYS_INTRO[1]]);
					},
					[CONSTS.SAMPLE_GRID_IDS_INTRO[0] + '_onAdd']() {
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].addRow({
							col4 : "1900-01-01",
							col5 : 0,
							col6 : [{value:"val1", text:"text1", selected:true},{value:"val2", text:"text2"},{value:"val3", text:"text3"}],
							col8 : "created",
							col9 : {value:"https://vanilla-note.github.io/",text:"go vanilla-note"},
						});
					},
					[CONSTS.SAMPLE_GRID_IDS_INTRO[0] + '_onRemove']() {
						const targetRow = window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].getTargetRow();
						if(!targetRow) {
							alert("Please select row.");
							return false;
						}
						window[CONSTS.SAMPLE_GRID_IDS_INTRO[0]].removeRow(targetRow);
					},
					[CONSTS.SAMPLE_GRID_IDS_INTRO[0] + '_onSave']() {
						alert("It's completed!");
					},
					getContentText(key) {
						return CONTENTS[this.currentLang].intro.text[key] ? CONTENTS[this.currentLang].intro.text[key].text : null;
					},
					getContentAnchor(key) {
						return CONTENTS[this.currentLang].intro.text[key] && CONTENTS[this.currentLang].intro.text[key].anchor ? CONTENTS[this.currentLang].intro.text[key].anchor : this.generateUUID();
					},
					getContentCode(key) {
						return CONTENTS[this.currentLang].intro.text[key] ? CONTENTS[this.currentLang].intro.text[key].code : null;
					},
					getContentData(key) {
						const datas = SAMPLE_DATAS[this.currentLang].intro[key];
						if(!datas) return null;
						return datas[0];
					},
	            },
	        },
			// started
	        'app-started': {
	            template: COMPONENT.started,
	            props: ['currentLang','isMobileSize','getCommonContent','generateUUID'],
	            mounted: function() {
					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '500px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '400px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";

					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'started',
	            		startedSubs : ['started','creDes','gridAttr','colAttr','events','methods','vgobject'],
					}
				},
	            computed: {
	            	getStartedSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.startedSubs[0], name: '시작하기' },
			        	            { id: this.startedSubs[1], name: '생성과 소멸' },
			        	            { id: this.startedSubs[2], name: '그리드 속성' },
			        	            { id: this.startedSubs[3], name: '컬럼 속성' },
			        	            { id: this.startedSubs[4], name: '이벤트' },
			        	            { id: this.startedSubs[5], name: '메소드' },
			        	            { id: this.startedSubs[6], name: 'Vanilla grid 객체' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.startedSubs[0], name: 'Getting Started' },
			        	            { id: this.startedSubs[1], name: 'Create & Destroy' },
			        	            { id: this.startedSubs[2], name: 'Grid Attributes' },
			        	            { id: this.startedSubs[3], name: 'Column Attributes' },
			        	            { id: this.startedSubs[4], name: 'Events' },
			        	            { id: this.startedSubs[5], name: 'Methods' },
			        	            { id: this.startedSubs[6], name: 'Vanilla grid Object' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
	                changeSub(id, e) {
						e.preventDefault();
	                	this.currentSub = id;
						let anchor = document.getElementById(id);
						if(!anchor) return;
						anchor.scrollIntoView({
							behavior: 'smooth',
							block: 'start',
						});
	                },
					loadGrid() {
						window[CONSTS.SAMPLE_GRID_IDS_STARTED[0]].load(SAMPLE_DATAS[this.currentLang].started[CONSTS.SAMPLE_KEYS_STARTED[0]]);
					},
					getContentText(key) {
						return CONTENTS[this.currentLang].started.text[key] ? CONTENTS[this.currentLang].started.text[key].text : null;
					},
					getContentAnchor(key) {
						return CONTENTS[this.currentLang].started.text[key] && CONTENTS[this.currentLang].started.text[key].anchor ? CONTENTS[this.currentLang].started.text[key].anchor : this.generateUUID();
					},
					getContentCode(key) {
						return CONTENTS[this.currentLang].started.text[key] ? CONTENTS[this.currentLang].started.text[key].code : null;
					},
					getContentData(key) {
						const datas = SAMPLE_DATAS[this.currentLang].started[key];
						if(!datas) return null;
						return datas[0];
					},
	            },
	        },
			// dive
	        'app-dive': {
	            template: COMPONENT.dive,
	            props: ['currentLang','isMobileSize','getCommonContent','generateUUID'],
	            mounted: function() {
					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '500px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '400px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";

					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'dive',
	            		diveSubs : ['dive','creDes','gridAttr','colAttr','events','methods','vgobject'],
					}
				},
	            computed: {
	            	getStartedSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.diveSubs[0], name: '시작하기' },
			        	            { id: this.diveSubs[1], name: '생성과 소멸' },
			        	            { id: this.diveSubs[2], name: '그리드 속성' },
			        	            { id: this.diveSubs[3], name: '컬럼 속성' },
			        	            { id: this.diveSubs[4], name: '이벤트' },
			        	            { id: this.diveSubs[5], name: '메소드' },
			        	            { id: this.diveSubs[6], name: 'Vanilla grid 객체' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.diveSubs[0], name: 'Getting Started' },
			        	            { id: this.diveSubs[1], name: 'Create & Destroy' },
			        	            { id: this.diveSubs[2], name: 'Grid Attributes' },
			        	            { id: this.diveSubs[3], name: 'Column Attributes' },
			        	            { id: this.diveSubs[4], name: 'Events' },
			        	            { id: this.diveSubs[5], name: 'Methods' },
			        	            { id: this.diveSubs[6], name: 'Vanilla grid Object' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
	                changeSub(id, e) {
						e.preventDefault();
	                	this.currentSub = id;
						let anchor = document.getElementById(id);
						if(!anchor) return;
						anchor.scrollIntoView({
							behavior: 'smooth',
							block: 'start',
						});
	                },
					loadGrid() {
						// window[CONSTS.SAMPLE_GRID_IDS_DIVE[0]].load(SAMPLE_DATAS[this.currentLang].dive[CONSTS.SAMPLE_KEYS_DIVE[0]]);
					},
					getContentText(key) {
						return CONTENTS[this.currentLang].dive.text[key] ? CONTENTS[this.currentLang].dive.text[key].text : null;
					},
					getContentAnchor(key) {
						return CONTENTS[this.currentLang].dive.text[key] && CONTENTS[this.currentLang].dive.text[key].anchor ? CONTENTS[this.currentLang].dive.text[key].anchor : this.generateUUID();
					},
					getContentCode(key) {
						return CONTENTS[this.currentLang].dive.text[key] ? CONTENTS[this.currentLang].dive.text[key].code : null;
					},
					getContentData(key) {
						const datas = SAMPLE_DATAS[this.currentLang].dive[key];
						if(!datas) return null;
						return datas[0];
					},
	            },
	        },
			// api
	        'app-api': {
	            template: COMPONENT.api,
	            props: ['currentLang','isMobileSize','getCommonContent','generateUUID'],
	            mounted: function() {
					this.vg = getVanillagrid();
					if(this.isMobileSize) {
						this.vg.defaultGridCssInfo.sizeLevel = 7;
						this.vg.defaultGridCssInfo.cellMinHeight = 28;
						this.vg.defaultGridCssInfo.height = '500px';
					}
					else {
						this.vg.defaultGridCssInfo.height = '400px';
					}
					//filter, sort span customize
					this.vg.filterSpan = document.createElement("i");
					this.vg.filterSpan.setAttribute("class", "fas fa-search");

					this.vg.sortAscSpan = document.createElement("i");
					this.vg.sortAscSpan.setAttribute("class", "fas fa-sort-up");
					this.vg.sortAscSpan.style.marginLeft = "7px";

					this.vg.sortDescSpan = document.createElement("i");
					this.vg.sortDescSpan.setAttribute("class", "fas fa-sort-down");
					this.vg.sortDescSpan.style.marginLeft = "7px";

					this.vg.create();
					this.loadGrid();
				},
				beforeDestroy: function() {
					vanillagrid_onDestroy(this.vg);
				},
	            data() {
					return {
						vg : null,
	            		currentSub : 'api',
	            		apiSubs : ['api','creDes','gridAttr','colAttr','events','methods','vgobject'],
					}
				},
	            computed: {
	            	getStartedSubs() {
	            		switch(this.currentLang) {
	            			case 'KOR' :
	            				return [
			        	            { id: this.apiSubs[0], name: '시작하기' },
			        	            { id: this.apiSubs[1], name: '생성과 소멸' },
			        	            { id: this.apiSubs[2], name: '그리드 속성' },
			        	            { id: this.apiSubs[3], name: '컬럼 속성' },
			        	            { id: this.apiSubs[4], name: '이벤트' },
			        	            { id: this.apiSubs[5], name: '메소드' },
			        	            { id: this.apiSubs[6], name: 'Vanilla grid 객체' },
			        	        ];
	            				break;
	            			default :
	            				return [
			        	            { id: this.apiSubs[0], name: 'Getting Started' },
			        	            { id: this.apiSubs[1], name: 'Create & Destroy' },
			        	            { id: this.apiSubs[2], name: 'Grid Attributes' },
			        	            { id: this.apiSubs[3], name: 'Column Attributes' },
			        	            { id: this.apiSubs[4], name: 'Events' },
			        	            { id: this.apiSubs[5], name: 'Methods' },
			        	            { id: this.apiSubs[6], name: 'Vanilla grid Object' },
			        	        ];
	            				break;
	            		}
	            	},
	            	getMainClass() {
	            		return this.isMobileSize ? 'col-xs-12': 'col-xs-9'
	            	},
	            },
				watch: {
					currentLang(newLang, oldLang) {
						this.loadGrid();
					}
				},
	            methods: {
	                changeSub(id, e) {
						e.preventDefault();
	                	this.currentSub = id;
						let anchor = document.getElementById(id);
						if(!anchor) return;
						anchor.scrollIntoView({
							behavior: 'smooth',
							block: 'start',
						});
	                },
					loadGrid() {
						// window[CONSTS.SAMPLE_GRID_IDS_API[0]].load(SAMPLE_DATAS[this.currentLang].api[CONSTS.SAMPLE_KEYS_API[0]]);
					},
					getContentText(key) {
						return CONTENTS[this.currentLang].api.text[key] ? CONTENTS[this.currentLang].api.text[key].text : null;
					},
					getContentAnchor(key) {
						return CONTENTS[this.currentLang].api.text[key] && CONTENTS[this.currentLang].api.text[key].anchor ? CONTENTS[this.currentLang].api.text[key].anchor : this.generateUUID();
					},
					getContentCode(key) {
						return CONTENTS[this.currentLang].api.text[key] ? CONTENTS[this.currentLang].api.text[key].code : null;
					},
					getContentData(key) {
						const datas = SAMPLE_DATAS[this.currentLang].api[key];
						if(!datas) return null;
						return datas[0];
					},
	            },
	        },
	    },
	});
	//그리드가 있는 상태로 view를 변환 시 에러??
	</script>
	<script type="text/javascript">
	vanillagrid_onBeforeCreate = function(e, vn) {
		return false;
	}
	gridIntro01_onChooseFilter = function(...p) {
		console.log(p);
	}
	</script>
</body>
</html>
